<p>Hey {{name}},</p>
<p>Please Enter the code below to validate your authentification</p>
<p>{{code}}</p>
<p>Regards, Transcendence Team
</p>

<p>If you did not request this email you can safely ignore it.</p>